.auth {
    padding: 30px;
    box-sizing: border-box;
}

.personal_info {
    background: rgb(5, 5, 5);
    padding: 20px;
    box-sizing: border-box;
}

.personal_info p {
    margin: 0px;
}

.personal_info b {
    color: gray;
    font-weight: normal;
}

.auth h3, .auth a {
    width: fit-content;
    display: inline-block;
}

.auth h3 {
    padding-right: 50px;
}

.auth a {
    color: gray;
    cursor: pointer;
}

.auth a:hover {
    color: white;
}