
.genre_movies {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.genre_movies, .genre_movies li, .genre_movies li a {
    display: flex;
}

.genre_movies {
    flex-wrap: wrap;
}

.genre_movies li {
    flex-direction: column;
    width: 20%;
    position: relative;
    box-sizing: border-box;
}

.genre_title {
    text-align: center;
    padding-bottom: 30px;
}


.genre_nav {
    padding: 50px;
    text-align: center;
    font-size: 1.5em;
}