
.genre_movies {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.genre_movies, .genre_movies li{
    display: flex;
}

.genre_movies {
    flex-wrap: wrap;
}

.genre_movies li {
    flex-direction: column;
    width: 20%;
}