
.container {
  background: linear-gradient( transparent 0%, black 75px);
  margin-top: -75px;
  padding-top: 75px;
  position: relative;
}

/*
Movie Grid @ Top
- - - - - - - - - - - - - - - - -
*/

.movie_grid {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.movie_grid li {
  width: 10%;
}

.movie_grid a {
  display: flex;
}


/*
Genre Verbs
- - - - - - - - - - - - - - - - -
*/

.genre_verbs {
  padding: 150px;
}

.genre_verbs ul{
  margin: 0px;
  padding: 0px;
}

.genre_verbs li{
  list-style-type: none;
  padding: 5px 10px;
  font-size: 0.8em;
  border: 1px solid #9b9b9b;
  color: #9b9b9b;
  width: fit-content;
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
}


.not_found {
  width: 500px;
  margin: auto;
  background: white;
  color: black;
  text-align: center;
  font-size: 30px;
  padding: 0px 50px 30px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 5px;
}

.genre_list {
  margin: 100px auto;
  padding: 0px;
}

.genre_list li {
  display: inline-block;
  list-style-type: none;
  width: 160px;
  padding: 0px 20px;
  margin: 0px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.genre_list a {
  color: white;
}

.genre_list li:hover {
  background: rgba( 255, 255, 255, 0.08 );
}