.container {
  width: 100%;
  margin: auto;
}

.content {
  max-width: 900px;
  margin: auto;
}

.top {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  margin-top: -16rem;
  z-index: 100;
  position: relative;
  width: fit-content;
  padding: 0 10px;
  width: 100%;
  max-width: 800px;
  pointer-events: none;
}

.top > * {
  pointer-events: all;
}

.rating {
  background: #ffc400;
  background: linear-gradient(#ffc400, #d88200);
  color: black;
  width: fit-content;
  padding: 15px 20px;
  border-radius: 2px;
  text-align: center;
  flex-shrink: 0;
}

.rating span {
  font-size: 50px;
  line-height: 50px;
}

.rating p {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 0.8em;
}

.poster {
  display: block;
  width: 200px;
  aspect-ratio: 1 / 1.5;
  position: relative;
  flex-shrink: 0;
}

.movie_info {
  position: relative;
}

.movie_info h1 {
  margin-bottom: 5px;
  line-height: 1.2em;
}

.movie_info h2 {
  color: #9b9b9b;
  font-size: 1em;
  margin-top: 0px;
}

.movie_description {
  padding: 50px 0 100px;
  max-width: 600px;
  margin: auto;
}

.overview {
  margin-top: 30px;
  margin-bottom: 50px;
}

.genres,
.genres ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.genres li {
  list-style-type: none;
  padding: 5px 10px;
  background: #141414;
  color: #9b9b9b;
  border-radius: 2px;
  font-size: 0.9em;
}

.details {
  font-size: 0.9em;
  text-align: right;
}

.details p {
  margin: 0px;
}

.vote_btns {
  display: flex;
  gap: 0.25rem;
}

@media only screen and (max-width: 550px) {
  .vote_btns {
    position: static;
    display: block;
    margin: auto;
    padding-top: 20px;
  }

  .movie_description {
    padding: 30px;
  }
}
