
.genre_movies_wrapper {
    width: 100%;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.genre_movies_title {
    padding: 0px 30px;
    box-sizing: border-box;
    font-size: 1.5em;
}

.genre_movies_bar {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.genre_movies_grid {
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
    margin: 0px;
    padding: 0px;
}

.genre_movies_bar li {
    scroll-snap-align: start;
    display: flex;
}

.genre_movies_grid li {
    width: 20%;
    display: flex;
}

.movie_bar {
    position: relative;
}

.movie_bar a {
    color: white;
}

.movement button {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: none;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    background: black;
    z-index: 100;
    border: 1px solid black;
}

.movement button:nth-child(1) {
    left: 10px;
}

.movement button:nth-child(2) {
    right: 10px;
}

.movement button:hover {
    background: rgb(10, 10, 10);
    border: 1px solid white;
}

@media only screen and (max-width: 900px) {
    .genre_movies_grid li {
        width: 25%;
    }
}

@media only screen and (max-width: 650px) {
    .genre_movies_grid li {
        width: 33.33%;
    }
}