
.genre_movies {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.genre_movies li {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 10px 0px;
    background: rgb(10, 10, 10);
    position: relative;
}

.movie_caption {
    width: fit-content;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
}

.genre_movies li h4, .genre_movies li h5 {
    margin: 0px;
}

.remove {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    cursor: pointer;
    color: rgb(255, 104, 104);
    border: 1px solid rgb(255, 104, 104);
}

.remove:hover {
    color: red;
    border: 1px solid red;
}