
.genre_movies {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.genre_movies li {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 10px 0px;
    background: rgb(10, 10, 10);
    position: relative;
}

.genre_movies li a {
    display: flex;
}

.movie_caption {
    width: fit-content;
    text-align: left;
    padding: 0px 20px;
    box-sizing: border-box;
}

.movie_caption a {
    color: white;
}

.genre_movies li h4, .genre_movies li h5 {
    margin-bottom: 15px;
}

.remove {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    cursor: pointer;
    color: rgb(255, 104, 104);
    border: 1px solid rgb(255, 104, 104);
}

.remove:hover {
    color: red;
    border: 1px solid red;
}

.tags, .tags li {
    padding: 0px;
    margin: 0px;
}

.tags li {
    border: 1px solid rgb(30, 30, 30);
    border-radius: 2px;
    width: fit-content;
    padding: 0px 10px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 0.8em;
}

.tag_btn {
    border: 1px solid white !important;
    cursor: pointer;
}

.tag_btn:hover {
    background: rgb(29, 29, 29);
}

.tag_input {
    background: none;
    color: white;
}

.tag_input_li {
    padding: 0px !important;
}

.tag_input_li button {
    background: none;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 1em;
}