.voting_buttons {
  background: transparent;
  border: 2px solid transparent;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  width: 60px;
  aspect-ratio: 1;
}

.voting_buttons:hover {
  border-color: gray;
}

@media only screen and (max-width: 650px) {
  .voting_buttons {
    font-size: 20px;
  }
}
