.voting_buttons {
	background: none;
	border: 1px solid black;
	font-size: 30px;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	color: white;
}

.voting_buttons:hover {
	background: rgba(30, 30, 30);
}

@media only screen and (max-width: 650px) {
	.voting_buttons {
		font-size: 20px;
		padding: 5px;
	}
}
